<!-- templates/navbar.html - ACTUALIZAR CON NUEVOS MENÚS -->

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand" href="{% url 'inicio_libreria' %}">📚 Sistema de Administración Libreria AJMG 1194</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'inicio_libreria' %}">🏠 Inicio</a>
        </li>
        
        <!-- Menú Autores -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">👨‍💼 Autores</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_autor' %}">Agregar Autor</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_autores' %}">Ver Autores</a></li>
          </ul>
        </li>
        
        <!-- Menú Editoriales (NUEVO) -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">🏢 Editoriales</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_editorial' %}">Agregar Editorial</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_editoriales' %}">Ver Editoriales</a></li>
          </ul>
        </li>
        
        <!-- Menú Libros -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">📚 Libros</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_libro' %}">Agregar Libro</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_libros' %}">Ver Libros</a></li>
          </ul>
        </li>
        
        <!-- Menú Clientes (NUEVO) -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">👥 Clientes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar Cliente</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_clientes' %}">Ver Clientes</a></li>
          </ul>
        </li>
        
        <!-- Menú Ventas -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">💰 Ventas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'agregar_venta' %}">Agregar Venta</a></li>
            <li><a class="dropdown-item" href="{% url 'ver_ventas' %}">Ver Ventas</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>